<h1>New Cat Rental Request</h1>

<form method="POST" action="/cat_rental_requests">
  <label for="cat_rental[cat_id]" id="cat_rental_cat_id">
  <select name="cat_rental[cat_id]" id="cat_rental_cat_id">
  <% Cat.all.each do |cat| %>
  <option value="<%=cat.id%>"><%=cat.name%></option>
  <% end %>

  <label for="cat_rental[start_date]" id="cat_rental_start_date">
  <input type="date" name="cat_rental[start_date]">

  <label for="cat_rental[end_date]" id="cat_rental_end_date">
  <input type="date" name="cat_rental[end_date]">
<input type="submit" value="Submit request">
